*{
  box-sizing: border-box;
}

.card {
  box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px ;


  display: grid;
  column-gap: 0.5em;
  grid-template-rows: 1fr 1fr auto auto auto auto; 
  grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr auto; 
}


.portada { 
  grid-area: 1 / 1 / 2 / 7;
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
 }


.profile{
  grid-area:  2 / 1 / 4 / 1;
  display: flex;
  justify-self: center;
  width: 200px;
  border-radius: 50%;
  box-shadow: 5px 5px 10px rgb(139, 139, 139) ;
}

.iconos { 
  grid-area:  3 / 1 / 4 / 2; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #A4A4A4;
}
.fa-brands:hover{
  cursor: pointer;
  transform: scale(1.2);
}

.titulo{
  grid-area:  2 / 2 / 3 / 6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-end;
}

.title {
  padding-left: 10px ;
  font-family: helvetica, sans-serif;
  font-size: 3.8em;
  font-weight: bold;
  color: #599DA8;

}

.subtitle {
  padding-left: 13px;
  padding-top: 13px;
  text-align: left;
  color: #888888;
  font-style: italic;
}

.texto{
  grid-area:  3 / 2 / 4 / 5;
  padding-left: 15px;
  text-align: left;
  text-indent: 10px;
  letter-spacing: 1px;
  color: #A4A4A4;
  font: helvetica, arial, helvetica;
}

i{
  color: #A4A4A4;
}

.edicion{
  grid-area: 4/ 2 /5 / 5;
  
  border-radius: 30px ;
  box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px ;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.formEdicion{
  display: flex;
}

.form-tittle{
  font-family: helvetica, sans-serif;
  font-size: 3.8em;
  font-weight: bold;
  color: #599DA8;
}

.fotos{
  display: flex;
  flex-direction: column;
}

.content{
  display: flex;
  flex-direction: column;
}

.btn{
  display: flex; 
  width: 50%;
  justify-content: center;

}

@keyframes luz1 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0); 
    transform: opacity(0.2); 
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: scale(2);
    transform: opacity(1); 
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0);
    transform: opacity(0.2); 
  }
}

#tarjeta1{
  animation: luz1 3s ease-in-out infinite;
  opacity: 0;
}
@keyframes luz2 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0.999); opacity: 0.2;
  }
  70% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: scale(1);opacity: 1;
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0.999);opacity: 0.2;
  }
}

#tarjeta2{
  animation: luz2 4s ease-in-out infinite;
  opacity: 0;
}
@keyframes luz3 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0.999); opacity: 0.2;
  }
  30% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: scale(1);opacity: 1;
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0.999);opacity: 0.2;
  }
}

#tarjeta3{
  animation: luz3 6s ease-in-out infinite;
  opacity: 0;
}

@keyframes upDown {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
    transform: rotate(0deg);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-5px);
    transform: rotate(0.3deg);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(4px);
    transform: rotate(0deg);
  }
}
#brazoIzq{
  animation: upDown 6s linear infinite;
}

  @media screen and (max-width:480px) {
    .card{
      display:flex;
      align-items: center;
      z-index: 0;
    }
    .portada{
      display: none;
    }
    .iconos{
      display: none;
    }
  
    .profile{
      margin: 20px;
      width : 170px;
    }
    .title{
      display: flex;
      justify-content: center;
      font-size: 2em;
      padding: 10px;
      margin: 0 auto;
    }
    .subtitle{
      display: flex;
      justify-content: center;
      font-size: 0.9em;
      padding: 10px;
    }
    .texto{
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 0.7em;
      padding: 10px 30px;
    }
  
    .edicion {
      width: 80%;
    }
  
    .formEdicion{
      display: flex;
      width: 70%;
    }
    
    .form-tittle{
      font-size: 2em;
    }
    
    .fotos{
      display: flex;
      flex-direction: column;
    }
    
    .content{
      display: flex;
      flex-direction: column;
    }
    
    .btn{
      display: flex; 
      width: 50%;
      justify-content: center;
    
    } 


}