*{
  box-sizing: border-box;
}

svg {
  overflow: visible;
}

i{
  justify-self:center;
  align-self: center;
  color: #00C2D1;
}

.tarjeta {
  border-radius: 0 0 30px 30px ;
  box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px ;
  padding-bottom: 2em;

  display: grid;
  column-gap: 0.5em;
  grid-template-rows: 8em auto auto; 
  grid-template-columns: 0.4fr 6fr 2fr; 
}

.icon{
  grid-area: 1 / 3 / 4 / 4;
  width: 200px;
  max-width: 250px;
  max-height: auto;
  display: flex;
  justify-self: center;
  align-self: center;
  overflow: visible;
  z-index: 3;
}

.card-tittle{ 
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  font-family: helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  color: #599DA8;  
}

#info{
  grid-area: 3 / 2 / 4 / 3;
  display:flex;
  flex-direction: column;
}

.itemId{
  display: flex;
  justify-self: center;
  margin-bottom: 0;
  padding-right: 0.5em;
  align-self: center;
  color: #d0d0d0;
  font-size: 2.7em;
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

.educ{
  display: flex;
  flex-direction: row;
  padding-left: 20px;

}

.contenido{
  padding-left: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  text-indent: 10px;
  letter-spacing: 1px;
  color: #A4A4A4;
  font: helvetica, arial, helvetica;
}

.contenido h5{
  color: #00909b;
  font-weight: bold;
}

.edicion{
  grid-area: 3/ 2 /4 / 3;
  
  border-radius: 30px ;
  box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px ;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.formularioEdicion{
  display: flex;
  width: -webkit-fill-available;
}

.form-tittle{
  font-family: helvetica, sans-serif;
  font-size: 3.8em;
  font-weight: bold;
  color: #599DA8;
}

.content{
  display: flex;
  flex-direction: column;
}

.btn{
  display: flex; 
  width: 50%;
  justify-content: center;

}

@keyframes float1 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  25% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-30px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatex(-20px);
  }
  75% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatex(0px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}
@keyframes float2 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  25% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatex(20px);
  }
  75% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatex(0px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

#resta{
  animation: float1 6s ease-in-out infinite;
}

#SUMA{
  animation: float2 6s ease-out infinite;
}


@media screen and (max-width:480px) {
  .tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon{
    padding: 20px;
  }
  .card-tittle{
    justify-content: center;
    font-size: 2em;
    padding: 10px;
    margin: 0 auto;
  }
  .logos{
    display: flex;
  }
  .educ{
    flex-direction: column;
    align-items:center;
    padding: 0;
  }
  .contenido{
    align-items:center;
    padding: 20px 30px;
  }
  .contenido h5{
    font-size: 1em;
    text-align: center;
  }
  .edicion {
    width: 80%;
    margin: 0;
    align-self: center;
  }

  .formEdicion{
    width: 70%;
  }
  
  .form-tittle{
    font-size: 2em;
  }
  
  .fotos{
    display: flex;
    flex-direction: column;
  }
  
  .content{
    display: flex;
    flex-direction: column;
  }
  
  .btn{
    display: flex; 
    width: 50%;
    justify-content: center;
  
  }
}