<div id="tarjeta" class="container-fluid p-0 mt-3 rounded-3">
  <div class="tarjeta">
    <div class="icon">
      <svg
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 181 188.5"
        style="enable-background: new 0 0 181 188.5"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: #00929d;
          }
          .st1 {
            fill: #00c2d1;
          }
          .st2 {
            fill: #8de1e8;
          }
          .st3 {
            fill: #ffffff;
          }
        </style>
        <g id="MAN_1_">
          <path
            class="st0"
            d="M151.1,92.7c-1.3-0.2-2.6-0.4-3.9-0.7l-11.7-3.1c5.6-6.9,9-15.7,9-25.3c0-22.1-17.9-40-40-40
              c-22.1,0-40,17.9-40,40c0,7.9,2.3,15.3,6.3,21.6l-33.2,6.9c-1.2,0.3-2.4,0.5-3.7,0.7c-5.9,0.7-10.5,5.8-10.5,11.9v60
              c0,6.6,5.4,12,12,12h114c6.6,0,12-5.4,12-12v-60C161.5,98.6,157,93.5,151.1,92.7z"
          />
          <g id="brazos_1_">
            <path
              class="st1"
              d="M111,99.3l0.9-0.5c5.7-3.3,13.1-1.3,16.4,4.4l30,60c3.3,5.7,1.3,13.1-4.4,16.4l-0.9,0.5
		            	c-5.7,3.3-13.1,1.3-16.4-4.4l-30-60C103.3,109.9,105.2,102.6,111,99.3z"
            />
            <path
              class="st1"
              d="M101.1,168.1l0-1c-0.2-6.6-5.7-11.8-12.3-11.7l-52,1.4c-6.6,0.2-11.8,5.7-11.7,12.3l0,1
		            	c0.2,6.6,5.7,11.8,12.3,11.7l52-1.4C96.1,180.3,101.3,174.7,101.1,168.1z"
            />
          </g>
        </g>
        <g id="resta">
          <path
            class="st0"
            d="M46.3,66H16.7c-2.3,0-4.2-1.9-4.2-4.2v0c0-2.3,1.9-4.2,4.2-4.2h29.6c2.3,0,4.2,1.9,4.2,4.2v0
	            	C50.5,64.1,48.6,66,46.3,66z"
          />
          <path
            class="st1"
            d="M45.3,64.1H15.7c-2.3,0-4.2-1.9-4.2-4.2v0c0-2.3,1.9-4.2,4.2-4.2h29.6c2.3,0,4.2,1.9,4.2,4.2v0
	            	C49.6,62.2,47.7,64.1,45.3,64.1z"
          />
        </g>
        <g id="SUMA">
          <path
            class="st0"
            d="M45.4,25.4h-9.7v-9.7c0-2.1-1.7-3.9-3.9-3.9h0c-2.1,0-3.9,1.7-3.9,3.9v9.7h-9.7c-2.1,0-3.9,1.7-3.9,3.9v0
                c0,2.1,1.7,3.9,3.9,3.9H28v9.7c0,2.1,1.7,3.9,3.9,3.9h0c2.1,0,3.9-1.7,3.9-3.9v-9.7h9.7c2.1,0,3.9-1.7,3.9-3.9v0
                C49.3,27.1,47.6,25.4,45.4,25.4z"
          />
          <path
            class="st1"
            d="M43.9,23.6h-9.7V14c0-2.1-1.7-3.9-3.9-3.9h0c-2.1,0-3.9,1.7-3.9,3.9v9.7h-9.7c-2.1,0-3.9,1.7-3.9,3.9v0
                c0,2.1,1.7,3.9,3.9,3.9h9.7V41c0,2.1,1.7,3.9,3.9,3.9h0c2.1,0,3.9-1.7,3.9-3.9v-9.7h9.7c2.1,0,3.9-1.7,3.9-3.9v0
                C47.8,25.4,46.1,23.6,43.9,23.6z"
          />
        </g>
        <g id="LIBRO">
          <rect x="7.5" y="163.6" class="st2" width="166" height="13.5" />
          <path
            class="st2"
            d="M90.5,176.1c-6.9,0-12.5-5.6-12.5-12.5s5.6-12.5,12.5-12.5s12.5,5.6,12.5,12.5S97.4,176.1,90.5,176.1z
	            	 M90.5,154.1c-5.2,0-9.5,4.3-9.5,9.5s4.3,9.5,9.5,9.5s9.5-4.3,9.5-9.5S95.7,154.1,90.5,154.1z"
          />
          <rect x="95.5" y="156.6" class="st3" width="67" height="6" />
          <rect x="18.5" y="156.6" class="st3" width="67" height="6" />
        </g>
      </svg>
    </div>
    <h2 class="card-tittle container-fluid" style="text-transform: uppercase">
      educación
    </h2>
    <div id="info" class="p-0 mt-3">
      <div
        class="linea"
        *ngFor="let educ of educs; let i = index"
        class="p-0 mt-3"
      >
        <div class="educ">
          <div class="logos">
            <p
              class="itemId"
              (click)="mostrarEditarOrNuevo()"
              (click)="mostrarBtn(educ.id)"
            >
              {{ educ.itemId }}
            </p>
            <i
              class="{{ educ.icono }}"
              (click)="mostrarEditarOrNuevo()"
              (click)="mostrarBtn(educ.id)"
            ></i>
          </div>
          <div class="contenido">
            <h5 (click)="mostrarEditarOrNuevo()" (click)="mostrarBtn(educ.id)">
              {{ educ.titulo }}
            </h5>
            <p (click)="mostrarEditarOrNuevo()" (click)="mostrarBtn(educ.id)">
              {{ educ.fecha }}
            </p>
          </div>
        </div>
      </div>

      <!-- formulario editar -->

      <div class="edicion conteiner mt-5 mb-5" *ngIf="editar">
        <h1 class="form-tittle mt-3">Editar</h1>

        <form
          class="formularioEdicion my-4"
          (ngSubmit)="update(f.value)"
          novalidate
          #f="ngForm"
        >
          <div class="col-md-4 mb-1 mx-auto content">
            <div class="row form-group mt-2">
              <input
                type="number"
                placeholder="Id del Item"
                class="form-control"
                id="itemId"
                name="itemId"
                [(ngModel)]="educs[index].itemId"
                required
              />
            </div>
            <div class="row form-group mt-2">
              <input
                type="text"
                placeholder="Icono"
                class="form-control"
                id="icono"
                name="icono"
                [(ngModel)]="educs[index].icono"
                required
              />
            </div>
            <div class="row form-group mt-2">
              <input
                type="text"
                placeholder="Titulo"
                class="form-control"
                id="titulo"
                name="titulo"
                [(ngModel)]="educs[index].titulo"
                required
              />
            </div>
            <div class="row form-group mt-2">
              <input
                type="text"
                placeholder="Fecha"
                class="form-control"
                id="fecha"
                name="fecha"
                [(ngModel)]="educs[index].fecha"
                required
              />
            </div>
          </div>
        </form>
        <button
          type="button"
          class="btn btn-outline-success btn-block mb-3"
          [disabled]="!f.valid"
          (click)="update(f.value)"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger btn-block mb-3"
          (click)="cerrar()"
        >
          Cancelar
        </button>
      </div>

      <!-- formulario nuevo -->
      <div class="edicion conteiner mt-5 mb-5" *ngIf="nuevo">
        <h1 class="form-tittle mt-3">Agregar nuevo</h1>
        <form
          class="formularioEdicion my-4"
          (ngSubmit)="update(nuevo.value)"
          novalidate
          #nuevo="ngForm"
        >
          <div class="col-md-4 mb-1 mx-auto content">
            <div class="row form-group mt-2">
              <input
                type="number"
                placeholder="itemId"
                class="form-control"
                id="itemId"
                name="itemId"
                [(ngModel)]="itemId"
              />
            </div>
            <div class="row form-group mt-2">
              <input
                type="text"
                placeholder="Icono"
                class="form-control"
                id="icono"
                name="icono"
                [(ngModel)]="icono"
                required
              />
            </div>
            <div class="row form-group mt-2">
              <input
                type="text"
                placeholder="Titulo"
                class="form-control"
                id="titulo"
                name="titulo"
                [(ngModel)]="titulo"
                required
              />
            </div>
            <div class="row form-group mt-2">
              <input
                type="text"
                placeholder="Fecha"
                class="form-control"
                id="fecha"
                name="fecha"
                [(ngModel)]="fecha"
                required
              />
            </div>
          </div>
        </form>
        <button
          type="button"
          class="btn btn-outline-success btn-block mb-3"
          [disabled]="!nuevo.valid"
          (click)="crear(nuevo.value)"
        >
          Guardar
        </button>
        <button
          type="button"
          class="btn btn-outline-danger btn-block mb-3"
          (click)="cerrar()"
        >
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
