* {
  box-sizing: border-box;
}

svg {
  overflow: visible;
}

i {
  justify-self: center;
  align-self: center;
  color: #00c2d1;
}

.tarjeta {
  border-radius: 0 0 30px 30px;
  box-shadow: 5px 5px 10px rgb(180, 179, 179);
  background-color: #ffffff;
  border-radius: 0 0 30px 30px;
  padding-bottom: 2em;

  display: grid;
  column-gap: 0.5em;
  grid-template-rows: 8em auto auto;
  grid-template-columns: 0.4fr 6fr 2fr;
}

.icon {
  grid-area: 1 / 3 / 4 / 4;
  width: 200px;
  max-width: 250px;
  max-height: auto;
  display: flex;
  justify-self: center;
  align-self: center;
  overflow: visible;
}

.card-tittle {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  font-family: helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  color: #599da8;
}

#info {
  grid-area: 3 / 2 / 4 / 3;
  display: flex;
  flex-direction: column;
}

.itemId {
  display: flex;
  justify-self: center;
  margin-bottom: 0;
  padding-right: 0.5em;
  align-self: center;
  color: #d0d0d0;
  font-size: 2.7em;
  font-weight: bold;
  font-family: helvetica, sans-serif;
}

.educ {
  display: flex;
  flex-direction: row;
  padding-left: 20px;
}

.contenido {
  padding-left: 15px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  text-indent: 10px;
  letter-spacing: 1px;
  color: #a4a4a4;
  font: helvetica, arial, helvetica;
}

.contenido h5 {
  color: #00909b;
  font-weight: bold;
}

.edicion {
  grid-area: 3/ 2 /4 / 3;

  border-radius: 30px;
  box-shadow: 5px 5px 10px rgb(180, 179, 179);
  background-color: #ffffff;
  border-radius: 0 0 30px 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioEdicion {
  display: flex;
  width: -webkit-fill-available;
}

.form-tittle {
  font-family: helvetica, sans-serif;
  font-size: 3.8em;
  font-weight: bold;
  color: #599da8;
}

.content {
  display: flex;
  flex-direction: column;
}

.btn {
  display: flex;
  width: 50%;
  justify-content: center;
}

@keyframes float1 {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes float2 {
  from {
    opacity: 0;
    transform: scale(0.1) rotate(30deg);
    transform-origin: center bottom;
  }

  50% {
    transform: rotate(-10deg);
  }

  70% {
    transform: rotate(3deg);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

#resta {
  animation: float1 6s ease-in-out infinite;
}

#SUMA {
  animation: float2 5s ease-out infinite;
}

@media screen and (max-width: 480px) {
  .tarjeta {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon {
    padding: 20px;
  }
  .card-tittle {
    justify-content: center;
    font-size: 2em;
    padding: 10px;
    margin: 0 auto;
  }
  .logos {
    display: flex;
  }
  .educ {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .contenido {
    align-items: center;
    padding: 20px 30px;
  }
  .contenido h5 {
    font-size: 1em;
    text-align: center;
  }
  .edicion {
    width: 80%;
    margin: 0;
    align-self: center;
  }

  .formEdicion {
    width: 70%;
  }

  .form-tittle {
    font-size: 2em;
  }

  .fotos {
    display: flex;
    flex-direction: column;
  }

  .content {
    display: flex;
    flex-direction: column;
  }

  .btn {
    display: flex;
    width: 50%;
    justify-content: center;
  }
}
