<div class="container-fluid p-0 mt-3"><!--(scroll)="checkScroll()" [@inOut]=" showDiv ? 'in' : 'out'"-->
  <footer class="text-center text-white" style="background-color: #599da8">
    <div class="container">
      <section class="mt-5">
        <div class="row text-center d-flex justify-content-center pt-5">
          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/app-portada" class="text-white">perfil</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/app-acerca-de-mi" class="text-white">Acerca de mi</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/app-experiencia" class="text-white">experiencia</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/app-educacion" class="text-white">Educacion</a>
            </h6>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2">
            <h6 class="text-uppercase font-weight-bold">
              <a href="/app-skills" class="text-white">Skills</a>
            </h6>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row-->
      </section>
      <!-- Section: Links -->

      <hr class="my-5" />

      <!-- Section: Text -->
      <section class="mb-5">
        <div class=" container row d-flex justify-content-center">
          <div class="email col-lg-8">
            <h2 class="footer-heading footer-heading-white">¡Ponete en contacto!</h2>
            <form action="#" class="contact-form">
              <div class="grupo">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Tu Nombre"
                />
              </div>
              <div class="grupo">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Tu Mail"
                />
              </div>
              <div class="grupo">
                <input type="text" class="form-control" placeholder="Motivo" />
              </div>
              <div class="grupo">
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="3"
                  class="form-control"
                  placeholder="Mensaje"
                ></textarea>
              </div>
              <div class="grupo">
                <button type="submit" class="form-control submit px-3">
                  Enviar
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="text-center mb-5">
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: Germán Aguirre
    </div>
  </footer>
</div>
