*{
  box-sizing: border-box;
}

svg {
  overflow: visible;
}

.tarjeta {
  border-radius: 0 0 30px 30px ;
  box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px ;

  display: grid;
  column-gap: 0.5em;
  grid-template-rows: 8em auto auto; 
  grid-template-columns: 0.4fr 6fr 2fr; 
}

.icon{
  grid-area: 1 / 3 / 4 / 4;
  width: 200px;
  max-width: 250px;
  max-height: auto;
  display: flex;
  justify-self: center;
  align-self: center;
  overflow: visible;
}

.card-tittle{ 
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-self: flex-start;
  align-self: flex-end;
  font-family: helvetica, sans-serif;
  font-size: 3.5em;
  font-weight: bold;
  color: #599DA8;
}

.card-text{ 
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-self: flex-start;
  align-self: center;
  padding-left: 15px;
  padding-top: 1.5em;
  text-align: left;
  text-indent: 10px;
  letter-spacing: 1px;
  color: #A4A4A4;
  font: helvetica, arial, helvetica;

}

.edicion{
  grid-area: 3/ 2 /4 / 3;
  
  border-radius: 30px ;
  box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px ;

  display: flex;
  flex-direction: column;
  align-items: center;

}

.formularioEdicion{
  display: flex;
  width: -webkit-fill-available;
}

.form-tittle{
  font-family: helvetica, sans-serif;
  font-size: 3.8em;
  font-weight: bold;
  color: #599DA8;
}

.content{
  display: flex;
  flex-direction: column;
}

.btn{
  display: flex; 
  width: 50%;
  justify-content: center;

}

@keyframes abrir {
  0% {
    transform: translateX(-2000px) scale(0.7);
    opacity: 0.7;
  }

  80% {
    transform: translateX(0px) scale(0.7);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes luz1 {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0.999); opacity: 0.2;
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: scale(1);opacity: 5;
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: scale(0.999);opacity: 0.2;
  }
}

#luz{
  animation: luz1 2s ease-in-out infinite;
  opacity: 0;
}

#POPUP{
  animation: abrir 4s infinite;
}
@media screen and (max-width:480px) {
  .tarjeta{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .icon{
    padding: 20px;
  }
  .card-tittle{
    display: flex;
    justify-content: center;
    font-size: 2em;
    padding: 10px;
    margin: 0 auto;
  }
  .card-text{
    padding: 0;
  }
  h5{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.7em;
    padding: 10px 30px;
  }

  .edicion {
    width: 80%;
    margin: 0;
  }

  .formEdicion{
    display: flex;
    width: 70%;
  }
  
  .form-tittle{
    font-size: 2em;
  }
  
  .fotos{
    display: flex;
    flex-direction: column;
  }
  
  .content{
    display: flex;
    flex-direction: column;
  }
  
  .btn{
    display: flex; 
    width: 50%;
    justify-content: center;
  
  }



}