button{
    border-radius: 50%;
    margin: 10px;
}

.plus{
    background-color: lightseagreen;
}

.xmark{
    background-color: lightcoral;
}
.pencil{
    background-color: lightblue;
}
.check{
    background-color: lightgreen;
}

button :hover{
    cursor: pointer;
    transform: scale(1.2);
}

i {
    color: white;
}

.botonera{
    display: flex;
}
