<div id="tarjeta" class="container-fluid p-0 mt-3 rounded-3">
  <div class= "card">
    <div class="card-body" >
      <h2 class= "card-tittle container-fluid">ACERCA DE MI</h2>
      <h5 >Soy estudiante de programacion web en Argentina Programa. Soy una persona autodidacta, y siempre que puedo intento aprender nuevas tecnologias. <br>
      Estoy buscando formar parte de un proyecto que me permita proyectarme profesionalmente y dejar mi marca en la web.
    </h5>
    <boton-edit 
     color="#52ab98"
    >
  </boton-edit>
    </div>
    
  </div>  
  
</div>