<div id="tarjeta" class="container-fluid p-0 mt-3 rounded-3">
  <div class= "card">
      <img class="icon" src="assets/img/icons/grandes/icon_ACERCA.svg" alt="acerca de mi"> 
      <h2 class= "card-tittle container-fluid">ACERCA DE MI</h2>
      <h5 class= "card-text" >
        Estudio programación desde 2021 y soy un aficionado al diseño grafico.
        Me encuentro entusiasmado con las posibilidades que brinda la programación y siendo muy curioso con el alcancé que tiene la tecnología siento que
        puedo desarrollarme y crecer profesionalmente en la insdustria IT.
        Actualmente sigo estudiando y adquiriendo habilidades para encontrar el trabajo que busco en esta insdustria.
      </h5>
    <boton-edit color="#52ab98"></boton-edit>  
  </div>  
  
</div>     