<div id="tarjeta" class="container-fluid p-0 mt-3 rounded-3">
  <!-- (scroll)="checkScroll()" *ngIf="showDiv" [@inOut]=" showDiv ? 'in' : 'out'"-->
  <div class="card">
    <h2 class="card-tittle">{{titulo}}</h2>
    <div class="iconos">
      <div class="logos" *ngFor="let skill of skills">
        <img class="imagen " 
          src={{skill.icono}} 
          alt={{skill.id}} 
          (click)="onModal(skill.id, skill.icono, skill.nombre, skill.descripcion, skill.fotos, skill.porcentaje)"
           />
      </div>
    </div>
    <app-modal id="modal" [itemId]="idClick"
               [icono]="SIcono"
               [nombre]="SNombre"
               [descripcion]="SDescripcion"
               [fotos]="SFotos"
               [porcentaje]="SPorcentaje"></app-modal>
  </div>
</div>