<div id="tarjeta" class="container-fluid p-0 mt-3 rounded-3">
  <!-- (scroll)="checkScroll()" *ngIf="showDiv" [@inOut]=" showDiv ? 'in' : 'out'"-->
  <div class="card">
    <h2 class="card-tittle">{{titulo}}</h2>
    <div class="iconos">
      <div class="logos" *ngFor="let skill of skills">
        <img class="imagen " 
          src={{skill.icono}} 
          alt={{skill.id}} 
          (click)="onModal(skill.id)"
           />
      </div>
    </div>
    <app-modal id="modal" ></app-modal>
  </div>
</div>