*{
  box-sizing: border-box;
}

.card {
  border-radius: 0 0 30px 30px ;
  box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
  background-color: #ffffff;
  border-radius: 0 0 30px 30px ;

  display: grid;
  column-gap: 1em;
  grid-template-rows: 1fr auto auto; 
  grid-template-columns: 0.4fr 6fr 4fr; 

  }  

.card-tittle { 
    grid-area: 1 / 2 / 2 /3;
    padding-top: 0.7em;
    padding-bottom: 30px;
    font-family: helvetica, sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: #599DA8;
  }

  #modal{
    grid-area: 2 / 3 / 3 / 4;
    margin: 1em;
  }

  .iconos {
/*     display:grid;
    grid-template-rows: auto 2em auto auto 2em auto auto 2em auto auto; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;  */
    grid-area: 2 / 2 / 3 / 3;
    padding: 2em;

    display: flex;
    
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;  

  }

  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }

  .imagen{
    display: flex;
    width:70px;
    max-width: 70px;
    padding:3px;
    margin: 20px;
  } 

  .imagen:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

   .subtitulo{ 
    display: flex;
    align-self: center;
   }

   .edicion{
    grid-area: 3/ 2 /4 / 3;
    
    border-radius: 30px ;
    box-shadow: 5px 5px 10px rgb(180, 179, 179) ;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px ;
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
  }
  
  .formularioEdicion{
    display: flex;
    width: -webkit-fill-available;
  }
  
  .form-tittle{
    font-family: helvetica, sans-serif;
    font-size: 3.8em;
    font-weight: bold;
    color: #599DA8;
  }
  
  .content{
    display: flex;
    flex-direction: column;
  }
  
  .btn{
    display: flex; 
    width: 50%;
    justify-content: center;
  
  }



h5{
  display:flex;
  justify-content: center;
  align-self: center;
  padding: 1em;
  font-size: 1.5em;
  color: #888888;
  font-style: italic;
}
