<body class="hero-image"  >
    <app-barra-navegacion></app-barra-navegacion>
    <div class="container">
        <app-portada (scroll)="checkScroll()"  ></app-portada>
        <app-acerca-de-mi (scroll)="checkScroll()"  ></app-acerca-de-mi>
        <app-experiencia (scroll)="checkScroll()"  ></app-experiencia>
        <app-educacion (scroll)="checkScroll()" ></app-educacion>
        <app-skills (scroll)="checkScroll()" ></app-skills>
    </div>
    <div class="share">
     <i class="fa-solid fa-share-nodes fa-2xl"></i>
    </div>
    <app-pie (scroll)="checkScroll()" ></app-pie>
</body>
    