<div id="tarjeta" class="container-fluid p-0 mt-3 rounded-3" ><!--(scroll)="checkScroll()" *ngIf="showDiv" [@inOut]=" showDiv ? 'in' : 'out'"-->
  <div class="tarjeta">
    <!-- <img class="icon" src="assets/img/icons/grandes/icon_EXPER.svg" alt="experiencia"> -->
    <div class="icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        id="Capa_1"
        data-name="Capa 1"
        viewBox="0 0 181 188.46"
      >
        <defs>
          <style>
            .cls-1 {
              fill: #00929d;
            }
            .cls-2 {
              opacity: 0.71;
            }
            .cls-3 {
              fill: url(#Degradado_sin_nombre_6);
            }
            .cls-4 {
              fill: url(#Degradado_sin_nombre_5);
            }
            .cls-5 {
              fill: url(#Degradado_sin_nombre_6-2);
            }
            .cls-6 {
              fill: #fff;
            }
            .cls-7 {
              fill: #8de1e8;
            }
            .cls-8 {
              fill: #005a61;
              opacity: 0.23;
              isolation: isolate;
            }
            .cls-9 {
              fill: #00c2d1;
            }
          </style>
          <linearGradient
            id="Degradado_sin_nombre_6"
            x1="104"
            y1="67"
            x2="104"
            y2="94"
            gradientTransform="matrix(1, 0, 0, -1, -11, 196)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="aqua" />
            <stop offset="0.1" stop-color="#05ffff" stop-opacity="0.9" />
            <stop offset="0.22" stop-color="#15ffff" stop-opacity="0.78" />
            <stop offset="0.36" stop-color="#2effff" stop-opacity="0.64" />
            <stop offset="0.51" stop-color="#51ffff" stop-opacity="0.49" />
            <stop offset="0.66" stop-color="#7effff" stop-opacity="0.34" />
            <stop offset="0.82" stop-color="#b6ffff" stop-opacity="0.18" />
            <stop offset="0.98" stop-color="#f6ffff" stop-opacity="0.02" />
            <stop offset="1" stop-color="#fff" stop-opacity="0" />
          </linearGradient>
          <linearGradient
            id="Degradado_sin_nombre_5"
            x1="24.88"
            y1="50.38"
            x2="46"
            y2="50.38"
            gradientTransform="matrix(1, 0, 0, -1, -11, 196)"
            gradientUnits="userSpaceOnUse"
          >
            <stop offset="0" stop-color="#fff" stop-opacity="0" />
            <stop offset="0.02" stop-color="#f6ffff" stop-opacity="0.02" />
            <stop offset="0.18" stop-color="#b6ffff" stop-opacity="0.18" />
            <stop offset="0.34" stop-color="#7effff" stop-opacity="0.34" />
            <stop offset="0.49" stop-color="#51ffff" stop-opacity="0.49" />
            <stop offset="0.64" stop-color="#2effff" stop-opacity="0.64" />
            <stop offset="0.78" stop-color="#15ffff" stop-opacity="0.78" />
            <stop offset="0.9" stop-color="#05ffff" stop-opacity="0.9" />
            <stop offset="1" stop-color="aqua" />
          </linearGradient>
          <linearGradient
            id="Degradado_sin_nombre_6-2"
            x1="165"
            y1="50"
            x2="185.63"
            y2="50"
            xlink:href="#Degradado_sin_nombre_6"
          />
        </defs>
        <title>Exper</title>
        <g id="EXPERIENCIA">
          <path
            id="MAN"
            class="cls-1"
            d="M162.62,108.11a31.57,31.57,0,0,1-3.86-.71l-28.15-7.54a40,40,0,1,0-53,.21l-28.48,7.37a28.33,28.33,0,0,1-3.66.65A12.05,12.05,0,0,0,35,120v60a12,12,0,0,0,12,12H161a12,12,0,0,0,12-12V120A12,12,0,0,0,162.62,108.11Z"
            transform="translate(-11 -6)"
          />
          <g id="DISPOSITIVO">
            <g id="LUZ">
              <g class="cls-2">
                <polygon
                  class="cls-3"
                  points="36 129 9 102 177 103 153 129 36 129"
                />
                <polygon
                  class="cls-4"
                  points="35 184 17.13 184.25 13.88 107 35 128.38 35 184"
                />
                <polygon
                  class="cls-5"
                  points="154 183 173 185 174.63 107 154 127.38 154 183"
                />
              </g>
            </g>
            <g id="PC">
              <path
                class="cls-6"
                d="M162.27,192H46.73A5.74,5.74,0,0,1,41,186.26V134.74A5.74,5.74,0,0,1,46.73,129H162.26a5.74,5.74,0,0,1,5.74,5.74v51.52A5.74,5.74,0,0,1,162.27,192Z"
                transform="translate(-11 -6)"
              />
              <rect class="cls-7" x="11" y="182.54" width="166" height="5.93" />
              <circle cx="94" cy="155" r="8" />
            </g>
          </g>
          <g id="POPUP">
            <g id="PANTALLA">
              <path
                class="cls-8"
                d="M184.06,126H18.94A8,8,0,0,1,11,118.06V19.56A13.56,13.56,0,0,1,24.56,6H178.44A13.56,13.56,0,0,1,192,19.56v98.5A7.94,7.94,0,0,1,184.06,126Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-1"
                d="M186,113H17V11.62A5.62,5.62,0,0,1,22.62,6H180.38A5.62,5.62,0,0,1,186,11.62Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-9"
                d="M182,116.29H21a4,4,0,0,1-4-4V23.41a1.84,1.84,0,0,1,1.84-1.84H184.16A1.84,1.84,0,0,1,186,23.41v88.86A4,4,0,0,1,182,116.29Z"
                transform="translate(-11 -6)"
              />
            </g>
            <g id="CODIGO">
              <path
                class="cls-6"
                d="M51.05,44H43.58a1.07,1.07,0,0,1-1-1,1.16,1.16,0,0,1,.93-1.42H51a1.08,1.08,0,0,1,1,1C52.08,43.34,51.63,44,51.05,44Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M32.93,44a1.06,1.06,0,0,1-.81-.38,1.1,1.1,0,0,1,.14-1.48l4.93-4.69-4.94-4.7a1.07,1.07,0,0,1-.19-1.38,1.05,1.05,0,0,1,1.59-.18l5.15,4.9a1.89,1.89,0,0,1,.59,1.36,1.92,1.92,0,0,1-.59,1.37l-5.15,4.89A1,1,0,0,1,32.93,44Z"
                transform="translate(-11 -6)"
              />
              <circle class="cls-6" cx="24" cy="49" r="4" />
              <circle class="cls-6" cx="24" cy="61" r="4" />
              <circle class="cls-6" cx="24" cy="73" r="4" />
              <circle class="cls-6" cx="24" cy="85" r="4" />
              <circle class="cls-6" cx="24" cy="97" r="4" />
              <path
                class="cls-6"
                d="M69.47,58H45.53A2.53,2.53,0,0,1,43,55.47v-.94A2.53,2.53,0,0,1,45.53,52H69.47A2.53,2.53,0,0,1,72,54.53v.94A2.53,2.53,0,0,1,69.47,58Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M68.47,94H44.53A2.53,2.53,0,0,1,42,91.47v-.94A2.53,2.53,0,0,1,44.53,88H68.47A2.53,2.53,0,0,1,71,90.53v.94A2.53,2.53,0,0,1,68.47,94Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M98.47,70H74.53A2.53,2.53,0,0,1,72,67.47v-.94A2.53,2.53,0,0,1,74.53,64H98.47A2.53,2.53,0,0,1,101,66.53v.94A2.53,2.53,0,0,1,98.47,70Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M62.47,82H45.53A2.53,2.53,0,0,1,43,79.47v-.94A2.53,2.53,0,0,1,45.53,76H62.47A2.53,2.53,0,0,1,65,78.53v.94A2.53,2.53,0,0,1,62.47,82Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M101.47,58H77.53A2.53,2.53,0,0,1,75,55.47v-.94A2.53,2.53,0,0,1,77.53,52h23.94A2.53,2.53,0,0,1,104,54.53v.94A2.53,2.53,0,0,1,101.47,58Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M83.47,106H59.53A2.53,2.53,0,0,1,57,103.47v-.94A2.53,2.53,0,0,1,59.53,100H83.47A2.53,2.53,0,0,1,86,102.53v.94A2.53,2.53,0,0,1,83.47,106Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M115.47,106H91.53A2.53,2.53,0,0,1,89,103.47v-.94A2.53,2.53,0,0,1,91.53,100h23.94a2.53,2.53,0,0,1,2.53,2.53v.94A2.53,2.53,0,0,1,115.47,106Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M52.47,70H45.53A2.53,2.53,0,0,1,43,67.47v-.94A2.53,2.53,0,0,1,45.53,64h6.94A2.53,2.53,0,0,1,55,66.53v.94A2.53,2.53,0,0,1,52.47,70Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M51.47,106H44.53A2.53,2.53,0,0,1,42,103.47v-.94A2.53,2.53,0,0,1,44.53,100h6.94A2.53,2.53,0,0,1,54,102.53v.94A2.53,2.53,0,0,1,51.47,106Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M77.47,82H70.53A2.53,2.53,0,0,1,68,79.47v-.94A2.53,2.53,0,0,1,70.53,76h6.94A2.53,2.53,0,0,1,80,78.53v.94A2.53,2.53,0,0,1,77.47,82Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M67.47,70H60.53A2.53,2.53,0,0,1,58,67.47v-.94A2.53,2.53,0,0,1,60.53,64h6.94A2.53,2.53,0,0,1,70,66.53v.94A2.53,2.53,0,0,1,67.47,70Z"
                transform="translate(-11 -6)"
              />
              <path
                class="cls-6"
                d="M116.47,58h-6.94A2.53,2.53,0,0,1,107,55.47v-.94A2.53,2.53,0,0,1,109.53,52h6.94A2.53,2.53,0,0,1,119,54.53v.94A2.53,2.53,0,0,1,116.47,58Z"
                transform="translate(-11 -6)"
              />
            </g>
          </g>
        </g>
      </svg>
    </div>
    <h2 class="card-tittle container-fluid">{{titulo}}</h2>
    <div class="card-text">
      <h5>{{contenido}}</h5>
    </div>
    <boton-edit class="btn" color="#52ab98"></boton-edit>
  </div>
</div>
