<div id="tarjeta" class="container-fluid p-0 mt-3 rounded-3">
    <div class= "card">
          <div class="card-body">
            <h2 class= "card-tittle">EXPERIENCIA</h2>
            <h5 class= "card-text">Estudiante de Argentina Programa</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque soluta maxime quia architecto distinctio facilis! Magni minima esse laboriosam minus mollitia, odit officia ad reiciendis nulla nemo quae soluta voluptatem!</p>
            <boton-edit color="#52ab98"></boton-edit>
          </div>
    </div>  
  </div>
