<div class="container-fluid p-0 mt-3"><!--(scroll)="checkScroll()" [@inOut]=" showDiv ? 'in' : 'out'"-->
  <footer class="text-center text-white" style="background-color: #599da8">
    <div class="container">
      <hr class="my-5" />
      <!-- Section: Text -->
      <section class="mb-5">
        <div class=" container row d-flex justify-content-center">
          <div class="email col-lg-8">
            <h2 class="footer-heading footer-heading-white">¡Ponete en contacto!</h2>
            <form hidden action="#" class="contact-form">
              <div class="primero" >
                <div class="at" style="color: rgba(0, 0, 0, 0.2)">
                  <i class="fa-solid fa-at"></i>
                </div>
                <div class="nomemail">
                <div class="nombre">
                  <input type="text" class="form-control" placeholder="Tu Nombre"/>
                </div>
                <div class="email">
                <input type="text" class="form-control" placeholder="Tu Mail" />
              </div>
              </div>
            </div>
              <div class="motivo">
                <input type="text" class="form-control" placeholder="Motivo" />
              </div>
              <div class="mensaje">
                <textarea name="" id="" cols="30" rows="3" class="form-control" placeholder="Mensaje"></textarea>
              </div>
              <div class="enviar">
                <button type="submit" class="form-control submit px-3"> Enviar </button>
              </div>
            </form>
          </div>
        </div>
      </section>
      <!-- Section: Text -->

      <!-- Section: Social -->
      <section class="social text-center mb-5">
        <a href="https://www.facebook.com/german.alejandro.aguirre/" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://wa.me/543875902600" class="text-white me-4">
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <a href="https://www.instagram.com/german_aguirre678/" class="text-white me-4">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/germ%C3%A1n-aguirre-600070236/" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/Ger678" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </section>
      <!-- Section: Social -->
    </div>
    <!-- Grid container -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 Copyright: Germán Aguirre
    </div>
  </footer>
</div>
