<div class="card-group gap-3 p-0 mt-3 carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    
    <div class="carousel-item active">
    
      <div class="row gap-3">
          <!-- tarjeta 1 --> 
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/html.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold">Html Skills</h5>
              <app-barra-de-progreso [porcentaje] = "10" ></app-barra-de-progreso>
              <p class="card-text">...</p>
            </div>
          </div>
          <!-- tarjeta 2 -->
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/css.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold">Css Skills</h5>
              <app-barra-de-progreso [porcentaje] = "20"></app-barra-de-progreso>
              <p class="card-text">...</p>
            </div>
          </div>
          <!-- tarjeta 3 -->
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/js.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold">JavaScript Skills</h5>
              <app-barra-de-progreso [porcentaje] = "30"></app-barra-de-progreso>
              <p class="card-text">...</p>
            </div>
          </div>
    </div>

    </div>

    
    <div class="carousel-item">
    
      <div class="row gap-3">
          <!-- tarjeta 1 --> 
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/html.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold">Html Skills</h5>
              <app-barra-de-progreso [porcentaje] = "10" ></app-barra-de-progreso>
              <p class="card-text">...</p>
            </div>
          </div>
          <!-- tarjeta 2 -->
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/css.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold">Css Skills</h5>
              <app-barra-de-progreso [porcentaje] = "20"></app-barra-de-progreso>
              <p class="card-text">...</p>
            </div>
          </div>
          <!-- tarjeta 3 -->
          <div class="card">
            <img class="card-img-top img-fluid" src="assets/img/js.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="text-uppercase font-weight-bold">JavaScript Skills</h5>
              <app-barra-de-progreso [porcentaje] = "30"></app-barra-de-progreso>
              <p class="card-text">...</p>
            </div>
          </div>
    </div>

    </div>
 
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
    </div>
  </div>
