
<div class="card" *ngFor="let port of ports"> <!--[@inOut]=" showDiv ? 'in' : 'out'"--> <!--class="card animate__animated animate__fadeInLeft"-->
      <img class="portada" src={{port.portadaUrl}} alt="Card image cap" (click)="mostrarBtn(port.id)">
      <div class="iconos">
        <i class="fa-brands fa-instagram fa-xl"></i>
        <i class="fa-brands fa-facebook-f fa-xl"></i>
        <i class="fa-brands fa-discord fa-xl"></i>
      </div>
      <img class="profile" src={{port.perfilUrl}} alt="Card image cap" (click)="mostrarBtn(port.id)">
      <div class="titulo">
        <h2 class= "title" (click)="mostrarBtn(port.id)">{{port.nombre }} {{port.apellido}}</h2>
        <h5 class= "subtitle">DESARROLLADOR WEB FULL STACK</h5>
      </div>
      <!-- </div> -->
      <h5 class="texto" (click)="mostrarBtn(port.id)">{{port.contenido}}<p>{{dato}}</p></h5>      
</div>
<boton-edit (botoneraCerrada)="cambiarMostrar($event)" class="boton" color="#52ab98" 
[mostrarDiv]="mostrar"
[id]="portadaId"
[object]="nombre" ></boton-edit>      